DB_URL=dummy
RELEASE_API_TOKEN=dummy
RAILWAY_ENVIRONMENT=dummy
RAILWAY_ENVIRONMENT_ID=dummy
RAILWAY_ENVIRONMENT_NAME=dummy
RAILWAY_PRIVATE_DOMAIN=dummy
RAILWAY_PROJECT_ID=dummy
RAILWAY_PROJECT_NAME=dummy
RAILWAY_SERVICE_ID=dummy
RAILWAY_SERVICE_NAME=dummy
REDIS_URL=dummy
S3_ACCESS_KEY_ID=dummy
S3_BUCKET=dummy
S3_ENDPOINT=dummy
S3_REGION=dummy
S3_SECRET_ACCESS_KEY=dummy
