ADDRESS_HEADER=dummy
AUTUMN_SECRET_KEY=dummy
AXIOM_AUTH=dummy
AXIOM_DATASET=dummy
AXIOM_URL=dummy
DB_URL=dummy
PASSKEY_ORIGIN=dummy
PASSKEY_RPID=dummy
PUBLIC_POSTHOG_HOST=dummy
PUBLIC_POSTHOG_KEY=dummy
RAILWAY_ENVIRONMENT=dummy
RAILWAY_ENVIRONMENT_ID=dummy
RAILWAY_ENVIRONMENT_NAME=dummy
RAILWAY_PRIVATE_DOMAIN=dummy
RAILWAY_PROJECT_ID=dummy
RAILWAY_PROJECT_NAME=dummy
RAILWAY_SERVICE_ID=dummy
RAILWAY_SERVICE_NAME=dummy
RAILWAY_SERVICE_POSTHOG_REVERSE_PROXY_URL=dummy
REDIS_URL=dummy
RESEND_AUTH=dummy
RESEND_FROM=dummy
S3_ACCESS_KEY_ID=dummy
S3_BUCKET=dummy
S3_ENDPOINT=dummy
S3_REGION=dummy
S3_SECRET_ACCESS_KEY=dummy
SITE_NAME=dummy
XFF_DEPTH=dummy
